@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:wght@100;200&family=Raleway:wght@800&family=Righteous&family=Unbounded&family=Unna:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    background-color: #a1a0a0;
    background-image: url("../images/dark-geometric.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* margin: 1.2em auto; */
    margin: 0.5rem;
    max-width: 500px;
    box-shadow: 0 2px 5px grey;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a1a0a0;
}

header {
    text-align: center;
}

header h1 {
    padding: 1rem;
}

.home-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

button {
    font-size: 1.2em;
    margin: 2em 0.1em;
    padding: 1em 3em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    background-color: #a1a0a0;
    transition: transform 0.25s ease;
}

.login-btn {
    float: left;
    cursor: pointer;
}

.register-btn {
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #98777b84;
}

button:active {
    transform: scale(0.98);
}

form {
    padding: 1.2em 2em;
    width: 100%;
}

form > h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
    margin: 5px 0;
}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

div > input {
    background-color: rgba(86, 85, 85, 0.662);
    color: rgb(230, 230, 230);
    border: solid 2px #c0b3b3;
    border-radius: 0.5em;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.links a {
    text-decoration: none;
}

.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 40;
}

.material-symbols-outlined:hover {
    color: white;
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}

.success {
    color: blue;
}
.error {
    padding: 0.5em;
    border: 1px solid rgba(246, 2, 2, 0.494);
    color: rgb(92, 92, 92);
}

@media screen and (min-width: 992px) {
    buttons {
        display: block;
    }
}
